@using AspNetCoreIdentity.Extensions

@{
    ViewData["Title"] = "Secret Policy";
}
<h1>@ViewData["Title"]</h1>

@{
    if (this.IfClaim("Produtos", "Adicionar"))
    {
        <p>Você pode adicionar produtos</p>
    }
}

<div>
    @Html.ActionLink(linkText: "Secret", actionName: "Secret").IfClaimShow(Context, claimName:"Produtos", claimValue:"Adicionar");
</div>

<div>
    <br/>
    <a href="#" class="btn btn-danger @Html.Raw(value: this.IfClaimShow(claimName: "Produtos", claimValue: "Adiciiionar"))">Excluir</a>

    
</div>

<p>Use this page to detail your site's secret policy.</p>
